<div class="factura">
    <div class="contenedor-estado-copia">ORIGINAL</div>
    <header class="encabezado-factura">
        <div class="datos-empresa">
            <div class="contenedor-logo">
                <img src="assets/img/logo.png" alt="Logo de la empresa" class="imagen-logo">
            </div>
            <div class="nombre-empresa">
                <h1>DI FRESCA VITO ANTONIO</h1>
            </div>
            <div class="detalles-datos-empresa">
                <p>Razón social: DI FRESCA VITO ANTONIO</p>
                <p>Domicilio: REPÚBLICA DE CHILE 2052 - San Justo - Buenos Aires</p>
                <p>IVA: Responsable inscripto</p>
            </div>
        </div>
        <div class="datos-tipo-factura">
            <div class="tipo-factura">A</div>
            <div class="codigo-factura">COD. 01</div>
            <div class="datos-operacion">OPERACIÓN SUJETA A RETENCIÓN</div>
        </div>
        <div class="datos-empresa">
            <div class="tipo-comprobante">
                <h2>FACTURA</h2>
                <div class="numero-comprobante"></div>
                <div class="contenedor-fecha-emision">Fecha de emisión: 23/10/2024</div>
                <div class="contenedor-numero-cuit">CUIT: 20-93375654-9</div>
                <div class="contenedor-ingresos-brutos">Ingresos brutos: 20933756549</div>
                <div class="fecha-inicio-actividades">Fecha de inicio de actividades: 03/06/2016</div>
            </div>
            <div class="datos-comprobante">
            </div>
        </div>
    </header>

    <div class="datos-cliente">
        <div class="seccion-datos-cliente-izquierda">
            <p>Razón social / Apellido y nombre: {{datosFactura.nombreCliente}}</p>
            <p>CUIT: </p>
        </div>
        <div class="seccion-datos-cliente-derecha">
            <p>Domicilio: Av. Rivadavia 1234 - CABA</p>
            <p>IVA: Consumidor final</p>
        </div>
    </div>

    <div class="items-factura">
        <div class="contenedor-titulo">
            <div class="descripcion">Artículo</div>
            <div class="cantidad">Cantidad</div>
            <div class="precio-unitario">Precio unitario</div>
            <div class="subtotal">Subtotal</div>
        </div>
        <div class="contenedor-articulo" *ngFor="let articulo of datosFactura.detallesFactura" >
            <div class="descripcion">{{articulo.nombreArticulo}}</div>
            <div class="cantidad">{{articulo.cantidad}}</div>
            <div class="precio-unitario">{{articulo.precioUnitario | currency}}</div>
            <div class="subtotal">{{articulo.cantidad * articulo.precioUnitario | currency}}</div>
        </div>
    </div>

    <div class="resumen-factura">
        <p class="texto-resumen-factura">Importe neto gravado: {{datosFactura.subtotalSinIva | currency}}</p>
        <p class="texto-resumen-factura">IVA 21%: {{datosFactura.iva | currency}}</p>
        <p class="texto-resumen-factura">Importe total: {{datosFactura.totalConIva | currency}}</p>
    </div>
    
    <div class="datos-cae">
        <p class="cae">CAE: {{datosFactura.cae}}</p>
        <p class="fecha-cae">Vencimiento CAE: </p>
    </div>
</div>