<app-encabezado titulo="Consultar cliente"/>
<app-respuesta-server/>

<div class="contenedor-pagina">
    <form [formGroup]="formularioConsultarCliente" class="contenedor-formulario">
        <mat-form-field class="input-mediano">
            <mat-label for="cliente">Cliente</mat-label>
            <mat-select (selectionChange)="obtenerDatosCliente()" formControlName="idCliente">
                <input matInput id="cuadro-usuario" class="input-interno-select" #inputCliente placeholder="Buscar..." (input)="filtrar()">
                <mat-option *ngFor="let datosCliente of valoresFiltradosClientes" [value]="datosCliente.id">{{ datosCliente.clientName }}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <div class="contenedor-ficha-cliente" *ngIf="datosCliente" >
        <div class="seccion-nombre-cliente">
            <div class="contenedor-nombre-cliente">{{datosCliente.clientName}} </div>
            <div class="contenedor-nombre-fantasia">({{datosCliente.fantasyName}})</div>
        </div>
        <div class="contenedor-datos-direccion">
            <mat-icon aria-hidden="false" fontIcon="home"></mat-icon>
            {{datosCliente.streetName}} {{datosCliente.streetName}} - {{datosCliente.stateName}} ({{datosCliente.cpNumber}}) 
        </div>
    </div>
</div>