.menu-interno-sistema {
    margin: 0px;
    padding: 0px;
    position: fixed;
    bottom: 0;
    min-width: 100vw;
    min-height: 8vh;
    background-color: greenyellow;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}