a {
    color: #000000;
    text-decoration: none;;
}

a:hover {
    color: #112E55;
}

.menu-interno-sistema {
    margin: 0px;
    padding: 0px;
    position: fixed;
    bottom: 0;
    min-width: 100vw;
    min-height: 8vh;
    background-color: #FFFFFF;
    border-top: 1px solid #E0E0E0;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    overflow: visible;
}

    .caja-opcion-menu {
        height: 7vh;
        cursor: pointer;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        position: relative;
    }

        .contenedor-icono {
            width: 100%;
        }

        .titulo-boton {
            width: 100%;
        }
        
        .menu-interno-sistema {
          position: relative;
          display: flex;
          flex-wrap: nowrap;
          transition: transform 0.5s ease;
        }
          
          .caja-opcion-menu {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: opacity 0.5s ease, transform 0.5s ease;
            transition: all 0.5s ease;
          }
          
          .caja-opcion-menu.selected {
            opacity: 1;
            flex: 1 1 90%;
          }
          
          .caja-opcion-menu.hidden {
            opacity: 0;
            pointer-events: none; 
          }

          .ocultar-titulo {
            display: none;
          }

          .contenedor-opcion-submenu {
            position: absolute;
            transform-origin: 0px;
            opacity: 0; 
            transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
          }

          .caja-opcion-menu.selected .contenedor-opcion-submenu a {
            display: flex;
            align-items: center;
            justify-content: space-around;
          }

          .caja-opcion-menu.selected .contenedor-opcion-submenu {
            transform: translate(0px, calc(-7vh * (var(--i) + 1.2)));
            opacity: 1;
            transition-delay: calc(0.05s * var(--i));
          }
          
          .icono-submenu {
            width: 6vh;
            height: 6vh; 
            margin-right: 4px;
            background-color: #FFFFFF;
            border-radius: 50%;
            box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
          }

            .contenedor-opcion-submenu:hover .icono-submenu  {
              transition: transform 1s ease;
              transform: rotate(360deg);
            }

            .contenedor-opcion-submenu:hover {
              font-weight: bold;
              color: #112E55;
            }

            .contenedor-opcion-submenu a {
              color: #112E55;
              text-decoration: none;
            }

          .titulo-submenu {
            min-width: 20vw;            
            height: 6vh;
            padding: 0px 10px;
            position: relative;
            background-color: #FFFFFF;
            border-radius: 15px;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
          }

          .titulo-submenu:hover::after, .titulo-submenu:hover::before {
            content: '';
            width: 100%;
            height: 100%;
            padding: 3px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: conic-gradient(from var(--angle), transparent 70%, #112555);
            border-radius: 15px;
            z-index: -1;
            animation: 2s animacionGiro linear infinite;
            border: 0px;
            box-shadow: 0px 0px 0px #112E55;
          }

          .titulo-submenu:hover::before {
            filter: blur(1.5rem);
            opacity: 0.5;
            box-shadow: 0px;
          }

          @property --angle {
            syntax: '<angle>';
            initial-value: 0deg;
            inherits: false;
          }

          @keyframes animacionGiro {
            from {
              --angle: 0deg;
            } 
            to {
              --angle: 360deg;
            }
          }