<div class="menu-interno-sistema menu-administrar-sistema">
    <div 
        *ngFor="let opcionMenu of opcionesMenu" 
        class="caja-opcion-menu" 
        (click)="centrarOpcionMenu(opcionMenu)"
        [class.selected]="selectedOpcionMenu === opcionMenu"
    >
        <div class="contenedor-icono">
            <mat-icon *ngIf="opcionMenu?.icono" aria-hidden="false" aria-label="Example home icon" fontIcon="{{opcionMenu?.icono}}"></mat-icon>
        </div>
        <div 
            class="titulo-boton"
            [class.ocultar-titulo]="selectedOpcionMenu && selectedOpcionMenu != opcionMenu"
        >{{opcionMenu.titulo}}</div>
    </div>
</div>