a {
    color: #000000
}

.contenedor-icono {
    width: 10%;
    text-align: center;
}

.contenedor-datos-usuario {
    width: 70%;
}

    .etiqueta-nombre-usuario {
        font-size: 18px;
    }

    .etiqueta-tipo-usuario {
        font-size: 10px;
    }

.contenedor-boton-accion {
    width: 10%;
}

    .boton-accion {
        border-radius: 50%;
    }