<app-encabezado titulo="Cargar pago"/>
<app-respuesta-server />

<div class="contenedor-pagina">
    <form [formGroup]="formularioConsultarFacturasImpagas" class="contenedor-formulario">
        <mat-form-field class="input-mediano">
            <mat-label for="cliente">Cliente</mat-label>
            <input #inputCliente type="text" id="cliente" placeholder="Seleccione el cliente" matInput formControlName="cliente" [matAutocomplete]="autocompletarCliente" (input)="filter('cliente')" (focus)="filter('cliente')">
            <mat-autocomplete requireSelection #autocompletarCliente="matAutocomplete" (optionSelected)="consultarEstadoCuentaCliente();">
                @for (datosCliente of valoresFiltradosClientes; track datosCliente) {
                    <mat-option [value]="datosCliente.clientName">{{datosCliente.clientName | uppercase }}</mat-option>
                }
            </mat-autocomplete>
        </mat-form-field>
    </form>

    <form [formGroup]="formularioCargarPago" class="contenedor-formulario" (ngSubmit)="cargarPago()">
        <mat-tab-group class="contenedor-pestanias">
            <mat-tab label="Comprobantes a pagar" class="pestania-formulario"> 
                <div class="contenedor-lista-comrprobantes" formArrayName="comprobantes">
                    <div *ngIf="comprobantes.controls.length === 0" class="mensaje-vacio">
                        No hay comprobantes pendientes de pago
                    </div>
                    <div *ngFor="let comprobante of comprobantes.controls; let i = index" [formGroupName]="i" class="contenedor-articulo">
                        <div class="contenedor-fecha-comprobante">
                            {{comprobante.value.fechaComprobante | date: 'dd/MM/YYYY'}}
                        </div>
                        <div class="contenedor-tipo-comprobante">
                            {{comprobante.value.tipoComprobante | uppercase}}
                        </div>
                        <div class="contenedor-numero-comprobante">
                            {{comprobante.value.numeroFacturaFormateado}}
                        </div>
                        <div class="contenedor-monto-comprobante">
                            {{comprobante.value.montoComprobante | currency}}
                        </div>
                        <div class="contenedor-monto-pago">
                            <input type="text" class="input-pago" formControlName="montoAPagar" (change)="actualizarValorTotalComprobantes();">
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Retenciones" class="pestania-formulario">
                <div class="contenedor-pagos" formArrayName="retenciones">
                    <div class="fila-agregar-pago" *ngFor="let retencion of retenciones.controls; let j = index" [formGroupName]="j">
                        <input type="text" class="input-fila input-fila-extendido" placeholder="Tipo de retención" matInput formControlName="nombre" [matAutocomplete]="autocompletarRetencion" (input)="filter('retencion', j, $event)" (focus)="filter('retencion', j, $event)">
                        <mat-autocomplete requireSelection #autocompletarRetencion="matAutocomplete" (optionSelected)="verificarAgregarFilasRetenciones()">
                            <mat-option *ngFor="let datosRetencion of valoresFiltradosRetenciones" [value]="datosRetencion.nombre">{{datosRetencion.nombre | uppercase }}</mat-option>
                        </mat-autocomplete>

                        <input type="number" class="input-fila input-fila-acotado" formControlName="numero" placeholder="Número" (input)="verificarAgregarFilasPagos()">
                        
                        <input class="input-fila input-fila-acotado" #fechaRetencion matInput [matDatepicker]="picker" formControlName="fecha" placeHolder="Fecha">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        
                        <input type="number" class="input-fila input-fila-acotado" formControlName="regimen" placeholder="Régimen">
                        
                        <input type="number" class="input-fila input-fila-acotado" formControlName="importe" placeholder="Importe" (change)="actualizarValorTotalRetenciones();">
                        

                        <button type="button" class="icono-eliminar-fila" mat-icon-button (click)="eliminarRetencion(j)">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Pagos" class="pestania-formulario">
                <div class="contenedor-pagos" formArrayName="pagos">
                    <div class="fila-agregar-pago" *ngFor="let pago of pagos.controls; let i = index" [formGroupName]="i">
                        
                        ¿Es transferencia?
                        <mat-checkbox formControlName="esTransferencia" (change)="actualizarCampos(i)">
                        </mat-checkbox>
                
                        <input type="number" class="input-fila input-fila-acotado" formControlName="numeroCheque" placeholder="Nº de cheque" *ngIf="!pago.get('esTransferencia')?.value">

                        <input type="text" class="input-fila input-fila-extendido" placeholder="Seleccione el banco" matInput formControlName="banco" [matAutocomplete]="autocompletarBanco" (input)="filter('banco', i, $event)" (focus)="filter('banco', i, $event)">
                        <mat-autocomplete requireSelection #autocompletarBanco="matAutocomplete">
                            <mat-option *ngFor="let datosBanco of valoresFiltradosBancos" [value]="datosBanco.nombre">{{datosBanco.numeroInterno + ' - ' + datosBanco.nombre | uppercase }}</mat-option>
                        </mat-autocomplete>

                        <input type="number" class="input-fila input-fila-acotado" formControlName="importe" placeholder="Importe" (change)="actualizarValorTotalPagos();">

                        <input class="input-fila input-fila-acotado" #dateInput matInput [matDatepicker]="fechaVencimiento" formControlName="fechaVencimiento" placeHolder="Vencimiento" *ngIf="!pago.get('esTransferencia')?.value">
                        <mat-datepicker-toggle *ngIf="!pago.get('esTransferencia')?.value" matIconSuffix [for]="fechaVencimiento"></mat-datepicker-toggle>
                        <mat-datepicker #fechaVencimiento></mat-datepicker>
                
                        <button type="button" class="icono-eliminar-fila" mat-icon-button (click)="eliminarPago(i)">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>

        <div class="contenedor-datos-subtotal">
            <div class="dato">
                <span class="etiqueta">Total retenciones:</span>
                <span class="valor">{{ datosSubtotal.totalRetenciones | currency }}</span>
            </div>
            <div class="dato">
                <span class="etiqueta">Total pagos:</span>
                <span class="valor">{{ datosSubtotal.totalPagos | currency }}</span>
            </div>
            <div class="dato">
                <span class="etiqueta">Total a pagar:</span>
                <span class="valor">{{ datosSubtotal.totalAPagar | currency }}</span>
            </div>
            <div class="dato">
                <span class="etiqueta">Total comprobantes:</span>
                <span class="valor">{{ datosSubtotal.totalComprobantes | currency }}</span>
            </div>
        </div>

        <mat-card-actions class="contenedor-boton-cargar" *ngIf="this.formularioCargarPago.get('cliente')?.value">
            <button class="input-extendido" mat-raised-button color="primary">Cargar</button>
        </mat-card-actions>
    </form>
</div>