<div class="factura" *ngFor="let copia of ['ORIGINAL']; let i = index"  >
    <div class="contenedor-estado-copia">{{copia}}</div>
    <header class="encabezado-factura">
        <div class="datos-tipo-factura">
            <div class="tipo-factura">A</div>
            <div class="codigo-factura">COD. 01</div>
            <div class="datos-operacion">OPERACIÓN SUJETA A RETENCIÓN</div>
        </div>

        <div class="seccion-superior-encabezado">
            <div class="datos-empresa">
                <div class="contenedor-logo">
                    <img src="assets/img/logo.png" alt="Logo de la empresa" class="imagen-logo">
                </div>
                <div class="nombre-empresa">
                    <h2>DI FRESCA VITO ANTONIO</h2>
                </div>
            </div>
            <div class="datos-empresa alineacion-derecha">
                <h1 class="tipo-comprobante">FACTURA</h1>
                <div class="numero-comprobante">{{datosFactura.numeroComprobante}} </div>
                <div class="contenedor-fecha-emision">Fecha de emisión: 23/10/2024</div>
            </div>
        </div>        

        <div class="detalles-empresa">
            <div class="detalles-datos-empresa">
                <p class="separacion-media">Razón social: Di Fresca Vito Antonio</p>
                <p class="separacion-media">Domicilio: República de Chile 2052 - San Justo - Buenos Aires</p>
                <p class="separacion-media">IVA: Responsable inscripto</p>
            </div>
            <div class="detalles-datos-empresa alineacion-derecha">
                <p class="separacion-media">CUIT: 20-93375654-9</p>
                <p class="separacion-media">Ingresos brutos: 20933756549</p>
                <p class="separacion-media">Fecha de inicio de actividades: 03/06/2016</p>
            </div>
        </div>
    </header>

    <div class="datos-cliente">
        <div class="seccion-datos-cliente-izquierda">
            <p>Razón social / Apellido y nombre: {{datosFactura.nombreCliente}}</p>
            <p>Domicilio: {{datosCliente.streetName}} - {{datosCliente.stateName}}</p>
        </div>
        <div class="seccion-datos-cliente-derecha">
            <p>CUIT: {{datosCliente.cuitNumber}} </p>
            <p>IVA: {{datosCliente.ivaType}}</p>
        </div>
    </div>

    <div class="items-factura">
        <div class="contenedor-titulo">
            <div class="descripcion">Artículo</div>
            <div class="cantidad">Cantidad</div>
            <div class="precio-unitario">Precio unitario</div>
            <div class="subtotal">Subtotal</div>
        </div>
        <div class="contenedor-articulo" *ngFor="let articulo of datosFactura.detallesFactura" >
            <div class="descripcion">{{articulo.nombreArticulo}}</div>
            <div class="cantidad">{{articulo.cantidad}}</div>
            <div class="precio-unitario">{{articulo.precioUnitario | currency}}</div>
            <div class="subtotal">{{articulo.cantidad * articulo.precioUnitario | currency}}</div>
        </div>
    </div>

    <div class="resumen-factura">
        <p class="texto-resumen-factura">Importe neto gravado: {{datosFactura.subtotalSinIva | currency}}</p>
        <p class="texto-resumen-factura">IVA 21%: {{datosFactura.iva | currency}}</p>
        <p class="texto-resumen-factura">Importe total: {{datosFactura.totalConIva | currency}}</p>
    </div>
    
    <div class="datos-cae">
        <p class="cae">CAE: {{datosFactura.cae}}</p>
        <p class="fecha-cae">Vencimiento CAE: {{datosFactura.fechaVtoCae}} </p>
    </div>
</div>