@media print {
    @page {
        size: A4;
        margin: 0;
    }

    .contenedor-menu-sistema {
        display: none;
    }
}

.factura {
    margin: 0px;
    padding: 0px 20px;
    background-image: url('background-white.png'); /* Reemplaza con la URL de tu imagen */
    background-size: cover; /* Ajusta el tamaño */
    background-repeat: no-repeat; /* Evita repetir la imagen */
    background-position: center; /* Centra la imagen */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contenedor-estado-copia {
    width: 100%;
    border: solid 1.5px black;
    text-align: center;
    font-size: 22px;
}

.encabezado-factura {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-direction: column;
}

    .seccion-superior-encabezado {
        display: flex;
        justify-content: space-between;
    }

    .datos-tipo-factura {
        width: 10vw;
        height: 10vw;;
        position: absolute;
        border: solid 1.5px;
        text-align: center;
        left: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

        .tipo-factura {
            font-size: 33px;
            font-weight: bold;
        }

        .codigo-factura {
            font-size: 11px;
            font-weight: bold;
        }

        .datos-operacion {
            font-size: 8px;
        }

    .datos-empresa {
        width: 50%;
    }

        .alineacion-derecha {
            text-align: right !important;
            padding-right: 10px;
        }

        .contenedor-logo {
            margin: 0px;
            padding: 0px;
        }

            .imagen-logo {
                width: 30%;
                margin-top: 5px;
            }

        .nombre-empresa {
            font-weight: bold;
        }

        .detalles-empresa {
            display: flex;
            justify-content: space-between;
        }

            .detalles-datos-empresa {
                text-align: left;
                font-size: 15px;
            }

                .separacion-media {
                    margin: 3px 0px;
                    padding-top: 0px;
                }

        .datos-comprobante {
            margin: 5px 0px;
            font-size: 2vh;
            font-weight: bold;
            text-align: right;
        }

        .tipo-comprobante {
            margin: 0px 0px 1.5vh 0px;
            padding: 10px 0px 0px 0px;
            font-weight: bold;
        }

        .numero-comprobante {
            font-size: 2vh;
            font-weight: bold;
        }

        .contenedor-fecha-emision {
            margin-top: 1vh;
            font-size: 16px;
            font-weight: lighter;
        }

        .contenedor-numero-cuit {
            margin-top: 5vh;
            font-size: 16px;
            font-weight: lighter;
        }

        .contenedor-ingresos-brutos {
            margin-top: 1vh;
            font-size: 16px;
            font-weight: lighter;
        }

        .fecha-inicio-actividades {
            margin-top: 1vh;
            font-size: 16px;
            font-weight: lighter;
        }

    .datos-cliente {
        width: 98%;
        text-align: right;
        border: solid 1px;
        display: flex;
        justify-content: space-between;
        padding: 5px;
        font-size: 15px;
    }

        .seccion-datos-cliente-izquierda {
            text-align: left;
        }

        .seccion-datos-cliente-derecha {
            margin: 0;
            padding: 0;
            text-align: right;
        }

    .items-factura {
        width: 99%;
        height: 300px;
        margin-top: 20px;
        border: solid 1px;
    }

        .contenedor-titulo {
            width: 100%;
            min-height: 30px;
            display: flex;
            align-items: center;
            border: solid 1px;
        }

            .descripcion {
                width: 50%;
                padding-left: 10px;
            }

            .cantidad {
                width: 10%;
                text-align: center;
            }

            .precio-unitario {
                width: 20%;
                text-align: center;
            }

            .subtotal {
                width: 20%;
                padding-right: 10px;
                text-align: right;
            }

        .contenedor-articulo {
            width: 100%;
            min-height: 30px;
            display: flex;
            align-items: center;
        }

    .resumen-factura {
        width: 99%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border: solid 1px;
    }

        .texto-resumen-factura {
            padding-right: 10px;
        }

    .datos-cae {
        width: 99%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        border: solid 1px;
    }

        .cae {
            padding-left: 10px;
        }

        .fecha-cae {
            padding-right: 10px;
        }

header {
    text-align: center;
    margin-bottom: 0;
}

footer {
    text-align: center;
    margin-top: 20px;
}