.titulo-funcionalidad {
    min-height: 8vh;
    margin-bottom: 3vh;
    padding-left: 2vw;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    font-size: 5vh;
    font-weight: bold;
    font-family: "corporate-s-regular";
}