<app-encabezado titulo="Lista de precios"/>
<app-respuesta-server />
<app-boton-cargar [direccion]="'../cargar-lista-precios'" />

<div class="contenedor-pagina">
    <div class="contenedor-lista-articulos">
        <div class="contenedor-titulo-lista">
            <div class="titulo">
                <h2>Lista de precios número: {{ultimaLista.id}}</h2>
              </div>
              <div class="descripcion">
                <p>Porcentaje aumentado: {{ultimaLista.porcentaje}}%</p>
              </div>
              <div class="fecha">
                <p>Fecha: {{ ultimaLista.fecha | date:'dd/MM/yyyy' }}</p>
              </div>
        </div>
        <div *ngFor="let articulo of listaArticulos" class="contenedor-articulo">
            <div class="contenedor-nombre-articulo">
                {{articulo.nombre | uppercase}}
            </div>
            <div class="contenedor-descripcion">
                {{articulo.descripcion | uppercase}}
            </div>
            <div class="contenedor-tipo-articulo">
                {{articulo.tipoArticulo | uppercase}}
            </div>
            <div class="contenedor-precio-anterior">
                {{articulo.precio | currency}}
            </div>
            <div class="contenedor-ultimo-aumento">
                {{articulo.porcentajeAumento | percent}}
            </div>
        </div>
    </div>
</div>