<app-encabezado titulo="Cuenta corriente cliente"/>
<app-respuesta-server />

<div class="cuenta-corriente">
  <mat-card class="encabezado-cuenta-corriente">
    <div class="titulo-detalles-cuenta-corriente titulo-detalles-extendido"> Fecha </div>
    <div class="titulo-detalles-cuenta-corriente"> Concepto </div>
    <div class="titulo-detalles-cuenta-corriente"> Número  comprobante</div>
    <div class="titulo-detalles-cuenta-corriente alineacion-derecha"> Haber </div>
    <div class="titulo-detalles-cuenta-corriente alineacion-derecha"> Debe </div>
    <div class="titulo-detalles-cuenta-corriente alineacion-derecha"> Saldo </div>
  </mat-card>
  <mat-card *ngFor="let movimientoActual of cuentaCorriente.reverse()" class="cuenta-corriente-item">
    <div class="cuenta-corriente-body">
      <div class="cuenta-corriente-info">
        <div class="fecha-comprobante">{{ movimientoActual.fecha | date: 'dd/MM/yyyy' }}</div>
        <div class="campo-observaciones">{{ movimientoActual.observaciones }}</div>
      </div>
    </div>
    <div class="cuenta-corriente-header">
      <mat-icon aria-hidden="false" aria-label="concept icon">
        {{ getIcon(movimientoActual.tipoConcepto) }}
      </mat-icon>
      <span>{{ movimientoActual.tipoConcepto }} </span>
    </div>
    <div class="cuenta-corriente-header">
      <span>{{movimientoActual.puntoVenta}} - {{movimientoActual.numeroComprobante}} </span>
    </div> 
    <div class="cuenta-corriente-amount">
      <span *ngIf="movimientoActual.haber" class="haber">
        {{ movimientoActual.haber | currency }}
      </span>
    </div>
    <div class="cuenta-corriente-amount">
      <span *ngIf="movimientoActual.debe" class="debe">
        {{ movimientoActual.debe | currency }}
      </span>
    </div>
    <div class="cuenta-corriente-saldo">
      <span>
        {{ movimientoActual.saldoActual | currency }}
      </span>
    </div>
  </mat-card>
</div>