<app-encabezado titulo="Cuenta corriente cliente"/>
<app-respuesta-server />

<div class="cuenta-corriente">
  <mat-card *ngFor="let movimientoActual of cuentaCorriente.reverse()" class="cuenta-corriente-item">
    <div class="cuenta-corriente-header">
      <mat-icon aria-hidden="false" aria-label="concept icon">
        {{ getIcon(movimientoActual.tipoConcepto) }}
      </mat-icon>
      <span>{{ movimientoActual.tipoConcepto }} - {{movimientoActual.idConcepto}} </span>
    </div>
    <div class="cuenta-corriente-body">
      <div class="cuenta-corriente-info">
        <div>Fecha: {{ movimientoActual.fecha | date: 'dd/MM/yyyy' }}</div>
        <div>Observaciones: {{ movimientoActual.observaciones }}</div>
      </div>
    </div>
    <div class="cuenta-corriente-amount">
      <span [ngClass]="{'debe': movimientoActual.debe > 0, 'haber': movimientoActual.haber > 0}">
        {{ movimientoActual.debe > 0 ? '- ' : '' }} {{ movimientoActual.importe | currency }}
      </span>
    </div>
    <div class="cuenta-corriente-saldo">
      <span>
        {{ movimientoActual.saldoActual | currency }}
      </span>
    </div>
  </mat-card>
</div>