.cuenta-corriente {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

    .encabezado-cuenta-corriente {
      min-height: 4vh;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 16px;
      background-color: #f5f5f5;
    }

      .titulo-detalles-cuenta-corriente {
        width: 15%;
      }

        .titulo-detalles-extendido {
          width: 20% !important;
        }

      .alineacion-derecha {
        text-align: right !important;
      }
  
  .cuenta-corriente-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
    background-color: #f5f5f5;
  }
  
  .cuenta-corriente-header {
    display: flex;
    width: 15%;
    align-items: center;
    font-weight: bold;
  }
  
  .cuenta-corriente-header mat-icon {
    margin-right: 8px;
  }
  
  .cuenta-corriente-body {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

    .fecha-comprobante {
      font-weight: bold;
    }

    .campo-observaciones {
      font-weight: thin;
    }
  
  .cuenta-corriente-info {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-around;
  }
  
  .cuenta-corriente-amount {
    width: 15%;
    font-size: 1em;
    font-weight: bold;
    text-align: right;
    align-content: center;
  }

  .cuenta-corriente-saldo {
    width: 15%;
    font-size: 1em;
    font-weight: bold;
    text-align: right;
    align-content: center;
  }
  
    .debe {
      color: red;
    }
    
    .haber {
      color: green;
    }