<app-encabezado titulo="Cuenta corriente cliente"/>
<app-respuesta-server />

<div class="cuenta-corriente">
    <mat-card *ngFor="let item of cuentaCorriente" class="cuenta-corriente-item">
      <div class="cuenta-corriente-header">
        <mat-icon aria-hidden="false" aria-label="concept icon">
          {{ getIcon(item.tipoConcepto) }}
        </mat-icon>
        <span>{{ item.tipoConcepto }}</span>
      </div>
      <div class="cuenta-corriente-body">
        <div class="cuenta-corriente-info">
          <div>Fecha: {{ item.fecha | date: 'dd/MM/yyyy' }}</div>
          <div>ID Concepto: {{ item.idConcepto }}</div>
          <div>Observaciones: {{ item.observaciones }}</div>
        </div>
      </div>
      <div class="cuenta-corriente-amount">
        <span [ngClass]="{'debe': item.debe > 0, 'haber': item.haber > 0}">
          {{ item.debe > 0 ? '- $' + item.debe : '$' + item.haber }}
        </span>
      </div>
    </mat-card>
  </div>