.contenedor-pagina {
    display: flex !important;
    flex-direction: column !important;
    align-content: center !important;
    align-items: center;
}

    .contenedor-tarjeta-articulo {
        width: 90%;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: row;
        background-color: #fff;
    }

    .articulo-activo {
        background-color: #FFFFFF;
    }

    .articulo-inactivo {
        background-color: rgba(255, 255, 255, 0.3);
    }