<app-encabezado titulo="Lista de artículos"/>
<app-respuesta-server/>

<div class="contenedor-pagina">
    <app-tarjeta-articulo 
        *ngFor="let articulo of listaArticulos"
        [articulo]="articulo"
        class="contenedor-tarjeta-articulo" 
        [ngClass]="{'articulo-activo' : articulo.active, 'articulo-inactivo' : !articulo.active}"  
        (eventoEnviarRespuestaServer)="establecerRespuestaServer($event);"
    />

    <app-boton-cargar
        [direccion]="'../cargar-articulo'"
    />
</div>
