<app-encabezado titulo="Cargar pedido"/>
<app-respuesta-server/>

<div class="contenedor-pagina">
    <div class="contenedor-formulario">
        <form [formGroup]="formularioCargarPedido" (ngSubmit)="cargarPedido();">
            <mat-stepper [linear]="true" #stepper>
                <mat-step label="Datos del pedido">
                    <mat-form-field class="input-mediano">
                        <mat-label for="cliente">Cliente</mat-label>
                        <input #inputCliente type="text" id="cliente" placeholder="Seleccione el cliente" matInput formControlName="cliente" [matAutocomplete]="autocompletarCliente" (input)="filter('cliente')" (focus)="filter('cliente')">
                        <mat-autocomplete requireSelection #autocompletarCliente="matAutocomplete">
                            @for (datosCliente of valoresFiltradosClientes; track datosCliente) {
                                <mat-option [value]="datosCliente.clientName">{{datosCliente.clientName | titlecase }}</mat-option>
                            }
                        </mat-autocomplete>
                        <mat-error>Debe indicar el cliente</mat-error>
                    </mat-form-field>
                    <mat-form-field class="input-mediano">
                        <mat-label for="observaciones">Observaciones del pedido</mat-label>
                        <input matInput placeholder="Observaciones" id="observaciones" value="" formControlName="observaciones">
                    </mat-form-field>
                    <mat-form-field class="input-mediano">
                        <mat-label for="transporte">Transporte</mat-label>
                        <input matInput placeholder="Transporte" id="transporte" value="" formControlName="transporte">
                    </mat-form-field>
                    <mat-form-field class="input-mediano">
                        <mat-label for="observaciones-transporte">Observaciones del transporte</mat-label>
                        <input matInput placeholder="Observaciones del transporte" id="observaciones-transporte" value="" formControlName="observacionesTransporte">
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext>
                            Cargar artículos 
                            <mat-icon aria-hidden="false">skip_next</mat-icon>
                        </button>
                    </div>
                </mat-step>
                <mat-step label="Artículos">
                    <div class="contenedor-articulos">
                        <ng-container formArrayName="articulosCargados">
                            <div class="tarjeta-cargar-articulo" *ngFor="let articuloCargado of articulosCargados.controls; let i = index" [formGroupName]="i">
                                <mat-form-field class="input-extendido">
                                    <mat-label>Artículo</mat-label>
                                    <mat-select formControlName="articulo" (selectionChange)="verificarAccesoriosArticulo(i)" >
                                        @for (articulo of listaArticulos; track articulo) {
                                            <mat-option [value]="articulo.id">{{articulo.nombre}}</mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="input-extendido">
                                    <mat-label for="cantidad">Cantidad</mat-label>
                                    <input matInput placeholder="Cantidad" id="cantidad" value="" formControlName="cantidad">
                                </mat-form-field>
                                <div *ngIf="mostrarAccesorios(articuloCargado.value.articulo)">
                                    <div formArrayName="accesorios">
                                        <div *ngFor="let accesorio of obtenerAccesoriosActuales(articuloCargado).controls; let j=index" [formGroupName]="j">
                                            <mat-checkbox formControlName="estado">{{accesorio.value.nombre}}</mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>
                            Datos del pedido
                            <mat-icon aria-hidden="false">skip_previous</mat-icon>
                        </button>
                    </div>
                </mat-step>
                <mat-step label="Confirmar pedido">
                    <mat-card-actions>
                        <button class="input-extendido" mat-raised-button color="primary">Cargar pedido</button>
                    </mat-card-actions>
                </mat-step>
            </mat-stepper>
        </form>
    </div>
</div>