.contenedor-pagina {
    display: flex !important;
    flex-direction: column !important;
    align-content: center !important;
    align-items: center;
}

    .contenedor-formulario {
        width: 80%;
        text-align: center;
    }

        .input-extendido {
            width: 90%;
            margin-bottom: 1vh;
        }

        .input-mediano {
            width: 45%;
            margin: 1vh;
        }

        .input-corto {
            width: 30%;
            margin: 1vh;
        }
    
    .contenedor-articulos {
        display: flex;
        flex-direction: column;
    }

        .tarjeta-articulo {
            width: 50%;
        }

        .tarjeta-cargar-articulo {
            width: 100%;
            margin: 1%;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid #ccc;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }